<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	 <listeners>
        <listener class-name="Base_Class.TestNG_listener"/>
    </listeners>
  <test thread-count="5" name="Regression test">
    <classes>
		 
		<!--<class name="Test_Case.COD_exception_singlecaseflow"/>-->
		<class name="Test_Case.COD_UI_ordercreate"/>
		<class name="Test_Case.Crowley_on_dock_test"/>
		
		
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
